// .hero-section {
//     background-color: var(--header-footer-color);
//     text-align: center;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-image:
//     linear-gradient(rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url("../images/hero1200.jpg");
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
// }

// .hero-section__tittle {
//     color: var(--white-color);
//     font-weight: 900;
//     width: 696px;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     margin-bottom: var(--min-gap);
//     margin-left: auto;
//     margin-right: auto;
// }

.hero-section {
  background-color: var(--header-footer-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero480.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero768.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero768@2x.jpg");
    }
  }
  .hero-section__tittle {
    line-height: 1.61;
  }
}




.hero-section__tittle {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: var(--min-gap);
}
