.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;
  color: var(--accent-color);
  cursor: pointer;
}

.logo__header--text {
  color: var(--logo-black);
}

.logo__footer--text {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }

  .footer__logo {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 92px;
  }
}
