@media screen and(max-width:1199px) {
    .our-work{
        display: none;
    }
    
}

.work-list {
    display: flex;
    flex-wrap: wrap;

}

.work-list__item {
    width: calc((100% - 3 * var(--min-gap)) / 3);
    position: relative;

    &:not(:nth-child(3n)) {
        margin-right: var(--min-gap);
    }

    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: var(--min-gap);
    }
}


.work-list__discription {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}