.page-header {
  border-bottom: 1px solid var(--header-line);
}

@media screen and (max-width: 1199px) {
  .container--centered {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    padding: 10px 0;
  }
}

.container--centered {
  display: flex;
  align-items: center;
}
