@media screen and(max-width:767px) {
  .portfolio {
    justify-content: center;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--min-gap));
  margin-top: calc(-1 * var(--min-gap));
  background-color: var(--white-color);
}

// @media screen and(min-width:768px) {
//   .portfolio__cards-list {
//     flex-basis: calc((100 - 30px) / 2);
//   }
// }

// @media screen and(min-width:1200px) {
//   .portfolio__cards-list {
//     flex-basis: calc((100 - 90px) / 3);
//   }
// }

.portfolio__cards-list {
  margin-left: var(--min-gap);
  margin-top: var(--min-gap);

}

.portfolio__link {
  text-decoration: none;
  color: var(--primary-text-color);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-wrapper {
  padding: 20px 24px;
  outline: 1px solid #eeeeee;
}

.portfolio-wrapper__tittle {
  color: var(--text-color-decoration);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  margin-bottom: 4px;
}

.portfolio-wrapper__text {
  font-size: 16px;
  line-height: 1.87;
}
