
.advantage__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color-decoration);
}

.advantage__icon {
  height: 120px;
  background-color: var(--background-second-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .advantage__tittle {
    text-align: center;
  }

  .advantage__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 480px) {
  .advantage {
    flex-wrap: wrap;
    display: flex;
  }

  .advantage__item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and(min-width:768px) {
  .advantage {
    margin-top: calc(-1 * var(--min-gap));
    margin-left: calc(-1 * var(--min-gap));
  }

  .advantage__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: var(--min-gap);
    margin-left: var(--min-gap);
  }
}

@media screen and(min-width:1200px) {
  .section-about {
          padding-bottom: 0;
      }

  .advantage__item {
    flex-wrap: wrap;
    flex-basis: calc(100% / 4 - 30px);
  }
}
