:root {
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --text-color-decoration: #212121;
    --background-second-color: #f5f4fa;
    --button-hover-color: #188ce8;
    --header-footer-color: #2f303a;
    --logo-black: #000000;
    --header-line: #ececec;
    --min-gap: 30px;
    --main-gap: 94px;
    --middle-gap: 50px;
}